# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# virtualenvs
.venv/
venv/

# caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# misc
*.log
game_logs/
